<f:validation.results for="{for}">
	<f:if condition="{validationResults.flattenedErrors}">
	<div class="neos-row-fluid">
		<div class="form-errors neos-span5">
            <f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
            	<f:if condition="{rootOnly} != 'true' || {propertyName} == ''">
	            	<f:if condition="{propertyName} != ''">
			            <dt>
			                {propertyName}:
			            </dt>
	                </f:if>
	                <dd>
	                    <f:for each="{errors}" as="error">{error}</f:for>
	                </dd>
	            </f:if>
            </f:for>
        </div>
        </div>
	</f:if>
</f:validation.results>