/* eonasdan datetimepicker */
.bootstrap-datetimepicker-widget .datepicker,
.bootstrap-datetimepicker-widget .timepicker {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget .datepicker {
	margin-right: 30px;
}
.bootstrap-datetimepicker-widget table {
	width: auto;
	background-color: #3f3f3f;
}
.bootstrap-datetimepicker-widget table th {
	color: white;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td span {
	border-radius: 0;
}
.bootstrap-datetimepicker-widget table th.dow,
.bootstrap-datetimepicker-widget table th.dow:first-child,
.bootstrap-datetimepicker-widget table th.dow:last-child,
.bootstrap-datetimepicker-widget table th.prev:first-child,
.bootstrap-datetimepicker-widget table th.next:last-child {
	width: 34px !important;
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget table td.day,
.bootstrap-datetimepicker-widget table td.day:first-child,
.bootstrap-datetimepicker-widget table td.day:last-child {
	padding: 3px 1px !important;
	width: auto;
}
.bootstrap-datetimepicker-widget table td:hover,
.bootstrap-datetimepicker-widget table td:hover a,
.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table th:hover {
	background-color: white;
	color: #39c6ff;
}
.bootstrap-datetimepicker-widget .datepicker-months table td:hover,
.bootstrap-datetimepicker-widget .datepicker-years table td:hover,
.bootstrap-datetimepicker-widget .datepicker-decades table td:hover {
	background-color: transparent;
	color: white;
}
.bootstrap-datetimepicker-widget table td.separator:hover {
	background-color: transparent;
	color: white;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #39c6ff;
}

.bootstrap-datetimepicker-widget .timepicker table td,
.bootstrap-datetimepicker-widget .timepicker table td:first-child,
.bootstrap-datetimepicker-widget .timepicker table td:last-child,
.bootstrap-datetimepicker-widget .datepicker-months table td,
.bootstrap-datetimepicker-widget .datepicker-months table td:first-child,
.bootstrap-datetimepicker-widget .datepicker-months table td:last-child,
.bootstrap-datetimepicker-widget .datepicker-years table td,
.bootstrap-datetimepicker-widget .datepicker-years table td:first-child,
.bootstrap-datetimepicker-widget .datepicker-years table td:last-child,
.bootstrap-datetimepicker-widget .datepicker-decades table td,
.bootstrap-datetimepicker-widget .datepicker-decades table td:first-child,
.bootstrap-datetimepicker-widget .datepicker-decades table td:last-child {
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget .timepicker td.separator {
	width: 10px;
}

.bootstrap-datetimepicker-widget table td.today:before {
	bottom: 0px;
	right: 0px;
	border-bottom-color: #39c6ff;
	border-width: 0 0 9px 9px;
}

/* form errors */
.form-errors {
	margin: 12px 0 !important;
	background-color: #ff460d;
	padding: 12px !important;
}