{namespace neos=Neos\Neos\ViewHelpers}
{namespace form=Neos\Form\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <div class="neos-module-container">
        <h2>Edit event "{event.title}"</h2>
    </div>
</f:section>

<f:section name="content">

    <f:render partial="Module/Shared/FormValidationResults" arguments="{for: 'event', rootOnly: 'true'}"/>

    <f:form action="updateEvent" object="{event}" objectName="event">
        <div class="neos-row-fluid">
            
            <fieldset class="neos-span5">
                <legend>Event information</legend>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.calendar', then: ' neos-error')}">
                    <label class="neos-control-label" for="calendar">Calendar</label>
                    <div class="neos-controls">
                        <f:form.select property="calendar" id="calendar" options="{calendars}" optionLabelField="name" class="neos-span12" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'event.calendar'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.title', then: ' neos-error')}">
                    <label class="neos-control-label" for="title">Title</label>
                    <div class="neos-controls">
                        <f:form.textfield property="title" id="title" class="neos-span12" autofocus="true" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'event.title'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.location', then: ' neos-error')}">
                    <label class="neos-control-label" for="location">Location (optional)</label>
                    <div class="neos-controls">
                        <f:form.textfield property="location" id="location" class="neos-span12" autofocus="true"/>
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'event.location'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.description', then: ' neos-error')}">
                    <label class="neos-control-label" for="description">Description (optional)</label>
                    <div class="neos-controls">
                        <f:form.textarea rows="6" property="description" id="description" class="neos-span12" autofocus="true"/>
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'event.description'}"/>
                    </div>
                </div>

            </fieldset>

            <fieldset class="neos-span5 neos-offset1">
                <legend>Date</legend>

                <div class="neos-control-group">
                    <div class="neos-controls">
                        <label for="allDay" class="neos-checkbox">
                            <f:form.checkbox name="allDay" property="allDay" id="allDay" value="allDay"/><span></span>
                            <span>All-day</span>
                        </label>
                    </div>
                </div>
                
                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.begin', then: ' neos-error')}">
                    <label class="neos-control-label" for="begin">Begin</label>
                    <div class="input-group date" id="datetimepicker_begin">
                        <f:form.textfield property="begin" id="begin" value="{event.begin -> f:format.date(format: 'Y-m-d H:i:s')}" style="display:none;"/>
                    </div>
                </div>
                <div class="neos-control-group{f:validation.ifHasErrors(for: 'event.end', then: ' neos-error')}">
                    <label class="neos-control-label" for="end">End</label>
                    <div class="input-group date" id="datetimepicker_end">
                        <f:form.textfield property="end" id="end" value="{event.end -> f:format.date(format: 'Y-m-d H:i:s')}" style="display:none;"/>
                    </div>
                </div>
                <script type="text/javascript">

                    function updateTimepickerVisibility() {
                        $("#allDay").get(0).checked ? $(".timepicker").hide() : $(".timepicker").show();
                    }

                    // setup datetimepickers
                    $(function () {
                        $('#datetimepicker_begin').datetimepicker({
                            inline: true,
                            sideBySide: true,
                            format: "YYYY-MM-DDTHH:mm:00Z"
                        });
                        $('#datetimepicker_end').datetimepicker({
                            inline: true,
                            sideBySide: true,
                            format: "YYYY-MM-DDTHH:mm:00Z"
                        });
                        updateTimepickerVisibility();
                    });

                    // show/hide timepicker
                    $("#allDay").change(function() {
                        updateTimepickerVisibility();
                    });

                </script>
                        
            </fieldset>

        </div>

        <div class="neos-footer">
            <f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'cancel', value: 'Cancel')}</f:link.action>
            <f:form.submit value="Save event" class="neos-button neos-button-primary" />
        </div>
    </f:form>
    <f:form action="index" id="postHelper" method="post"></f:form>
</f:section>