{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <div class="neos-module-container">
        <h2>Edit calendar "{calendar.name}"</h2>
    </div>
</f:section>

<f:section name="content">
    <f:form action="update" object="{calendar}" objectName="calendar">
        <div class="neos-row-fluid">
            <fieldset class="neos-span5">
                <legend>Calendar</legend>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'calendar.name', then: ' neos-error')}">
                    <label class="neos-control-label" for="name">Name</label>
                    <div class="neos-controls">
                        <f:form.textfield property="name" id="name" class="neos-span12" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'calendar.name'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'calendar.color', then: ' neos-error')}">
                    <label class="neos-control-label" for="color">Color</label>
                    <div class="neos-controls">
                        <f:form.textfield type="color" property="color" value="{calendar.color.htmlColorString}" id="color" class="neos-span12" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'calendar.color'}"/>
                    </div>
                </div>

            </fieldset>

        </div>

        <div class="neos-footer">
            <f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'cancel', value: 'Cancel')}</f:link.action>
            <f:form.submit value="Save calendar" class="neos-button neos-button-primary" />
        </div>
    </f:form>
    <f:form action="index" id="postHelper" method="post"></f:form>
</f:section>