{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">

    <div class="neos-row-fluid">
        <legend>Your Calendars</legend>
        <f:if condition="{calendars}">
            <f:then>
                <table class="neos-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{calendars}" key="index" as="calendar">
                            <tr>
                                <td><i class="fa fa-circle" style="color:{calendar.color.htmlColorString}"></i> {calendar.name}</td>
                                <td class="neos-action">
                                    <div class="neos-pull-right">

                                        <!-- Show action -->
                                        <f:link.action class="neos-button neos-button-primary" action="show" arguments="{calendar: calendar}" title="Show calendar" additionalAttributes="{data-neos-toggle: 'tooltip'}"><i class="fa fa-eye"></i></f:link.action>

                                        <!-- Edit action -->
                                        <f:link.action class="neos-button neos-button-primary" action="edit" arguments="{calendar: calendar}" title="Edit calendar" additionalAttributes="{data-neos-toggle: 'tooltip'}"><i class="fa fa-pencil-alt"></i></f:link.action>

                                        <!-- Delete action -->
                                        <button class="neos-button neos-button-danger" title="Delete calendar" data-toggle="modal" href="#calendar-{index}" data-neos-toggle="tooltip">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div class="neos-hide" id="calendar-{index}">
                                            <div class="neos-modal-centered">
                                                <div class="neos-modal-content">
                                                    <div class="neos-modal-header">
                                                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                                        <div class="neos-header">
                                                            Do you really want to delete the calendar "{calendar.name}"?
                                                        </div>
                                                        <div>
                                                            <div class="neos-subheader">
                                                                <p>
                                                                    This will delete the calendar and all related events.<br/>
                                                                    <neos:backend.translate id="operationCannotBeUndone" package="Neos.Neos"/>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="neos-modal-footer">
                                                        <a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel')}</a>
                                                        <f:form action="delete" arguments="{calendar: calendar}" class="neos-inline">
                                                            <button type="submit" class="neos-button neos-button-danger" title="Yes, delete the calendar">
                                                                Yes, delete the calendar
                                                            </button>
                                                        </f:form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="neos-modal-backdrop neos-in"></div>
                                        </div><!-- end Delete action -->
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                    <br/>
                    <div class="neos-row neos-breadcrumb"></div>
                    <br/>
                </table>
            </f:then>
            <f:else>
                <p>No calendars created yet.</p>
            </f:else>
        </f:if>
    </div>
    <div class="neos-row-fluid">
        <legend>Your Events</legend>
        <f:if condition="{events}">
            <f:then>
                <table class="neos-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Begin</th>
                            <th>End</th>
                            <th>Calendar</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{events}" key="index" as="event">
                            <tr>
                                <td>{event.title}</td>
                                <td>
                                    {event.begin -> f:format.date(localeFormatType: 'date', localeFormatLength: 'medium', forceLocale:true)}
                                    <f:if condition="!{event.allDay}"> - {event.begin -> f:format.date(localeFormatType: 'time', localeFormatLength: 'short', forceLocale:true)}
                                    </f:if>
                                </td>
                                <td>
                                    {event.end -> f:format.date(localeFormatType: 'date', localeFormatLength: 'medium', forceLocale:true)}
                                    <f:if condition="!{event.allDay}"> - {event.end -> f:format.date(localeFormatType: 'time', localeFormatLength: 'short', forceLocale:true)}
                                    </f:if>
                                </td>
                                <td><i class="fa fa-circle" style="color:{event.calendar.color.htmlColorString}"></i> {event.calendar.name}</td>
                                <td class="neos-action">
                                    <div class="neos-pull-right">

                                        <!-- Show action -->
                                        <f:link.action class="neos-button neos-button-primary" action="showEvent" arguments="{event: event}" title="Show event" additionalAttributes="{data-neos-toggle: 'tooltip'}"><i class="fa fa-eye"></i></f:link.action>

                                        <!-- Edit action -->
                                        <f:link.action class="neos-button neos-button-primary" action="editEvent" arguments="{event: event}" title="Edit event" additionalAttributes="{data-neos-toggle: 'tooltip'}"><i class="fa fa-pencil-alt"></i></f:link.action>

                                        <!-- Delete action -->
                                        <button class="neos-button neos-button-danger" title="Delete event" data-toggle="modal" href="#event-{index}" data-neos-toggle="tooltip">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div class="neos-hide" id="event-{index}">
                                            <div class="neos-modal-centered">
                                                <div class="neos-modal-content">
                                                    <div class="neos-modal-header">
                                                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                                        <div class="neos-header">
                                                            Do you really want to delete the event "{event.title}"?
                                                        </div>
                                                        <div>
                                                            <div class="neos-subheader">
                                                                <p>
                                                                    This will delete the event.<br/>
                                                                    <neos:backend.translate id="operationCannotBeUndone" package="Neos.Neos"/>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="neos-modal-footer">
                                                        <a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel')}</a>
                                                        <f:form action="deleteEvent" arguments="{event: event}" class="neos-inline">
                                                            <button type="submit" class="neos-button neos-button-danger" title="Yes, delete the event">
                                                                Yes, delete the event
                                                            </button>
                                                        </f:form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="neos-modal-backdrop neos-in"></div>
                                        </div><!-- end Delete action -->
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                    <br/>
                    <div class="neos-row neos-breadcrumb"></div>
                    <br/>
                </table>
            </f:then>
            <f:else>
                <p>No events created yet.</p>
            </f:else>
        </f:if>
    </div>

    <div class="neos-footer">
        <f:link.action action="new" class="neos-button neos-button-primary">Create Calendar</f:link.action>
        <f:link.action action="newEvent" class="neos-button neos-button-primary">Create Event</f:link.action>
    </div>

</f:section>
