{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <h2>Create a new calendar</h2>
</f:section>

<f:section name="content">
    <f:form action="create" objectName="newCalendar">
        <div class="neos-row-fluid">
            <fieldset class="neos-span5">
                <legend>Calendar</legend>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'name', then: ' neos-error')}">
                    <label class="neos-control-label" for="name">Name</label>
                    <div class="neos-controls">
                        <f:form.textfield property="name" id="name" class="neos-span12" autofocus="true" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'name'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'color', then: ' neos-error')}">
                    <label class="neos-control-label" for="color">Color</label>
                    <div class="neos-controls">
                        <f:form.textfield type="color" property="color" id="color" class="neos-span12" autofocus="true" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'color'}"/>
                    </div>
                </div>

            </fieldset>

        </div>
        <div class="neos-footer">
            <f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'cancel', value: 'Cancel', source: 'Modules', package: 'Neos.Neos')}</f:link.action>
            <f:form.submit value="Create" class="neos-button neos-button-primary" />
        </div>
    </f:form>
</f:section>