{namespace neos=Neos\Neos\ViewHelpers}
{namespace form=Neos\Form\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <h2>Create a new Event</h2>
</f:section>

<f:section name="content">
    
    <f:render partial="Module/Shared/FormValidationResults" arguments="{for: 'newEvent', rootOnly: 'true'}"/>

    <f:form action="createEvent" objectName="newEvent">
        <div class="neos-row-fluid">
            <fieldset class="neos-span5">
                <legend>Event information</legend>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.calendar', then: ' neos-error')}">
                    <label class="neos-control-label" for="calendar">Calendar</label>
                    <div class="neos-controls">
                        <f:form.select property="calendar" id="calendar" options="{calendars}" optionLabelField="name" class="neos-span12" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'newEvent.calendar'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.title', then: ' neos-error')}">
                    <label class="neos-control-label" for="title">Title</label>
                    <div class="neos-controls">
                        <f:form.textfield property="title" id="title" class="neos-span12" autofocus="true" required="true" />
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'newEvent.title'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.location', then: ' neos-error')}">
                    <label class="neos-control-label" for="location">Location (optional)</label>
                    <div class="neos-controls">
                        <f:form.textfield property="location" id="location" class="neos-span12" autofocus="true"/>
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'newEvent.location'}"/>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.description', then: ' neos-error')}">
                    <label class="neos-control-label" for="description">Description (optional)</label>
                    <div class="neos-controls">
                        <f:form.textarea rows="6" property="description" id="description" class="neos-span12" autofocus="true"/>
                        <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'newEvent.description'}"/>
                    </div>
                </div>

            </fieldset>

            <fieldset class="neos-span5 neos-offset1">
                <legend>Date</legend>

                <div class="neos-control-group">
                    <div class="neos-controls">
                        <label for="allDay" class="neos-checkbox">
                            <f:form.checkbox name="allDay" property="allDay" value="true" id="allDay" checked="true"/><span></span>
                            <span>All-day</span>
                        </label>
                    </div>
                </div>

                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.begin', then: ' neos-error')}">
                    <label class="neos-control-label" for="begin">Begin</label>
                    <div class="input-group date" id="datetimepicker_begin">
                        <f:form.textfield property="begin" id="begin" style="display:none;"/>
                    </div>
                </div>
                <div class="neos-control-group{f:validation.ifHasErrors(for: 'newEvent.end', then: ' neos-error')}">
                    <label class="neos-control-label" for="end">End</label>
                    <div class="input-group date" id="datetimepicker_end">
                        <f:form.textfield property="end" id="end" style="display:none;"/>
                    </div>
                </div>
                <script type="text/javascript">

                    function updateTimepickerVisibility() {
                        $("#allDay").get(0).checked ? $(".timepicker").hide() : $(".timepicker").show();
                    }

                    // setup datetimepickers
                    $(function () {
                        $('#datetimepicker_begin').datetimepicker({
                            inline: true,
                            sideBySide: true,
                            format: "YYYY-MM-DDTHH:mm:00Z"
                        });
                        $('#datetimepicker_end').datetimepicker({
                            inline: true,
                            sideBySide: true,
                            format: "YYYY-MM-DDTHH:mm:00Z"
                        });
                        updateTimepickerVisibility();
                    });

                    // show/hide timepicker
                    $("#allDay").change(function() {
                        updateTimepickerVisibility();
                    });

                </script>
                        
            </fieldset>


        </div>

        <div class="neos-footer">
            <f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'cancel', value: 'Cancel', source: 'Modules', package: 'Neos.Neos')}</f:link.action>
            <f:form.submit value="Create" class="neos-button neos-button-primary" />
        </div>
    </f:form>
</f:section>