{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
	<h2>Details for calendar: {calendar.name}</h2>
</f:section>

<f:section name="content">
	<div class="neos-row-fluid neos-module-container">
		<div class="neos-span5">
			<legend>Calendar</legend>

			<table class="neos-info-table">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{calendar.name}</td>
					</tr>
					<tr>
						<th>Color</th>
						<td><i class="fa fa-circle" style="color:{calendar.color.htmlColorString}"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="neos-footer">
		<f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'back', value: 'Back')}</f:link.action>
	
		<button class="neos-button neos-button-danger" title="Click here to delete this calendar" data-toggle="modal" href="#delete">
			<i class="fa fa-trash"></i> Delete Calendar
		</button>

		<f:link.action action="edit" arguments="{calendar: calendar}" class="neos-button">
			<i class="fa fa-pencil-alt"></i> Edit Calendar
		</f:link.action>
		<div class="neos-hide" id="delete">
			<div class="neos-modal-centered">
				<div class="neos-modal-content">
					<div class="neos-modal-header">
					<button type="button" class="neos-close" data-dismiss="modal"></button>
					<div class="neos-header">Do you really want to delete the calendar "{calendar.name}"?</div>
					<div>
						<div class="neos-subheader">
							This will delete the calendar and all its events.
							This operation cannot be undone.
						</div>
					</div>
				</div>
					<div class="neos-modal-footer">
						<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel', source: 'Modules', package: 'Neos.Neos')}</a>
						<f:form action="delete" arguments="{calendar: calendar}" class="neos-inline">
							<button type="submit" class="neos-button neos-button-danger" title="Delete Calendar">
								Yes, delete the calendar
							</button>
						</f:form>
					</div>
				</div>
			</div>
			<div class="neos-modal-backdrop neos-in"></div>
		</div>
	</div>
</f:section>