{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
	<h2>Details for event: {event.title}</h2>
</f:section>

<f:section name="content">
	<div class="neos-row-fluid neos-module-container">
		<div class="neos-span5">
			<legend>Event</legend>

			<table class="neos-info-table">
				<tbody>
					<tr>
						<th>Title</th>
						<td>{event.title}</td>
					</tr>
					<tr>
						<th>Calendar</th>
						<td><i class="fa fa-circle" style="color:{event.calendar.color.htmlColorString}"></i> {event.calendar.name}</td>
					</tr>
					<tr>
						<th>Location</th>
						<td>{event.location}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{event.description}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="neos-span5">
			<legend>Date &amp; Time</legend>

			<table class="neos-info-table">
				<tbody>
					<tr>
						<th>Begin</th>
						<td>
							{event.begin -> f:format.date(localeFormatType: 'date', localeFormatLength: 'medium', forceLocale:true)}
							<f:if condition="!{event.allDay}">
								 - {event.begin -> f:format.date(localeFormatType: 'time', localeFormatLength: 'short', forceLocale:true)}
							</f:if>
						</td>
					</tr>
					<tr>
						<th>End</th>
						<td>
							{event.end -> f:format.date(localeFormatType: 'date', localeFormatLength: 'medium', forceLocale:true)}
							<f:if condition="!{event.allDay}">
								 - {event.end -> f:format.date(localeFormatType: 'time', localeFormatLength: 'short', forceLocale:true)}
							</f:if>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="neos-footer">
		<f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'back', value: 'Back')}</f:link.action>
	
		<button class="neos-button neos-button-danger" title="Click here to delete this event" data-toggle="modal" href="#delete">
			<i class="fa fa-trash"></i> Delete Event
		</button>

		<f:link.action action="editEvent" arguments="{event: event}" class="neos-button">
			<i class="fa fa-pencil-alt"></i> Edit Event
		</f:link.action>
		<div class="neos-hide" id="delete">
			<div class="neos-modal-centered">
				<div class="neos-modal-content">
					<div class="neos-modal-header">
					<button type="button" class="neos-close" data-dismiss="modal"></button>
					<div class="neos-header">Do you really want to delete the event "{event.title}"?</div>
					<div>
						<div class="neos-subheader">
							This will delete the event.
							This operation cannot be undone.
						</div>
					</div>
				</div>
					<div class="neos-modal-footer">
						<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', value: 'Cancel', source: 'Modules', package: 'Neos.Neos')}</a>
						<f:form action="deleteEvent" arguments="{event: event}" class="neos-inline">
							<button type="submit" class="neos-button neos-button-danger" title="Delete Event">
								Yes, delete the event
							</button>
						</f:form>
					</div>
				</div>
			</div>
			<div class="neos-modal-backdrop neos-in"></div>
		</div>
	</div>
</f:section>