<div class="row columns event-list">
    <f:for each="{events}" as="event">
        <f:link.action package="GF.Calendar" class="event-cell row" controller="Plugin" action="showEvent" arguments="{event: event}">
            <div class="date small-3 columns text-right">
                <div class="day">
                    {event.begin -> f:format.date(cldrFormat: 'd', forceLocale: true)}
                </div>
                <div class="month">
                    {event.begin -> f:format.date(cldrFormat: 'MMM', forceLocale: true)}
                </div>
            </div>
            <div class="wrapper-right small-9 columns">
                <div class="calendar-name" style="border-bottom-color: {event.calendar.color.htmlColorString};">{event.calendar.name}</div>
                <div class="title">{event.title}</div>
            </div>
        </f:link.action>
    </f:for>
</div>