<div class="row columns event-detail">
    <div class="calendar-name" style="border-bottom-color: {event.calendar.color.htmlColorString};">
    {event.calendar.name}</div>
    <div class="title">{event.title}</div>

    <f:if condition="{event.description}">
        <p class="description">{event.description}</p>
    </f:if>

    <div class="attribute-wrapper">
        <div class="attribute-label">Wann?</div>
        <div class="attribute-value">{event.formattedTimeInformation}</div>
    </div>

    <f:if condition="{event.location}">
        <div class="attribute-wrapper">
            <div class="attribute-label">Wo?</div>
            <div class="attribute-value">{event.location}</div>
        </div>
    </f:if>
</div>